
.humburger{
    display:none;
    background: white;
    height: 112px;
    width: 0px;
}

@media(max-width: 500px){
    .humburger{
        display: block;
        height:30px;
        width:30px;
        margin-right: 5px;
        margin-top:-22px;
        margin-bottom: 32px;
        border-radius: 5px;
    }
}
.btn1{
    background-color:black;
   border: none;
}
.fyt{
    color:white;
}